___

<a href='http://www.pieriandata.com'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Copyright Pierian Data</em></center>
<center><em>For more information, visit us at <a href='http://www.pieriandata.com'>www.pieriandata.com</a></em></center>

# Series
The first main data type we will learn about for pandas is the Series data type. Let's import Pandas and explore the Series object.

A Series is very similar to a NumPy array (in fact it is built on top of the NumPy array object). What differentiates the NumPy array from a Series, is that a Series can have axis labels, meaning it can be indexed by a label, instead of just a number location. It also doesn't need to hold numeric data, it can hold any arbitrary Python Object.

Let's explore this concept through some examples:

In [16]:
import numpy as np
import pandas as pd

## Creating a Series

You can convert a list,numpy array, or dictionary to a Series:

In [17]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

### Using Lists

In [18]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [19]:
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [20]:
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

### Using NumPy Arrays

In [21]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [22]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

In [23]:
ser1 = pd.Series([1, 2, 3, 4], index=['USA', 'Germany', 'USSR', 'Japan'])
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [24]:
ser2 = pd.Series([1,4,5,6], index=['USA', 'Germany', 'Italy', 'Japan'])
ser2

USA        1
Germany    4
Italy      5
Japan      6
dtype: int64

In [25]:
ser1+ser2

Germany     6.0
Italy       NaN
Japan      10.0
USA         2.0
USSR        NaN
dtype: float64

### Using Dictionaries

In [26]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

### Data in a Series

A pandas Series can hold a variety of object types:

In [27]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [28]:
# Even functions (although unlikely that you will use this)
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

## Using an Index

The key to using a Series is understanding its index. Pandas makes use of these index names or numbers by allowing for fast look ups of information (works like a hash table or dictionary).

Let's see some examples of how to grab information from a Series. Let us create two sereis, ser1 and ser2:

In [29]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan'])

In [30]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [31]:
ser2 = pd.Series([1,2,5,4],index = ['USA', 'Germany','Italy', 'Japan'])

In [32]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [33]:
ser1['USA']

1

Operations are then also done based off of index:

In [38]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

Let's stop here for now and move on to DataFrames, which will expand on the concept of Series!
# Great Job!