___

<a href='http://www.pieriandata.com'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Copyright Pierian Data</em></center>
<center><em>For more information, visit us at <a href='http://www.pieriandata.com'>www.pieriandata.com</a></em></center>

# Groupby

The groupby method allows you to group rows of data together and call aggregate functions

In [1]:
import pandas as pd
# Create dataframe
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200.,120.,340.,124.,243.,350.]}

In [2]:
df = pd.DataFrame(data)

In [3]:
df

  Company   Person  Sales
0    GOOG      Sam  200.0
1    GOOG  Charlie  120.0
2    MSFT      Amy  340.0
3    MSFT  Vanessa  124.0
4      FB     Carl  243.0
5      FB    Sarah  350.0

<strong>Now you can use the .groupby() method to group rows together based off of a column name.<br>For instance let's group based off of Company. This will create a DataFrameGroupBy object:</strong>

In [4]:
df.groupby('Company')

You can save this object as a new variable:

In [5]:
by_comp = df.groupby('Company')

And then call aggregate methods off the object:

In [6]:
by_comp.agg({"Person": list, "Sales": "mean"})

                 Person  Sales
Company
FB        [Carl, Sarah]  296.5
GOOG     [Sam, Charlie]  160.0
MSFT     [Amy, Vanessa]  232.0

In [7]:
by_comp["Sales"].mean()

Company
FB      296.5
GOOG    160.0
MSFT    232.0
Name: Sales, dtype: float64

In [8]:
df.groupby('Company').mean()

TypeError: agg function failed [how->mean,dtype->object]

More examples of aggregate methods:

In [9]:
by_comp['Sales'].std()

Company
FB       75.660426
GOOG     56.568542
MSFT    152.735065
Name: Sales, dtype: float64

In [10]:
by_comp.min()

          Person  Sales
Company
FB          Carl  243.0
GOOG     Charlie  120.0
MSFT         Amy  124.0

In [11]:
by_comp.max()

          Person  Sales
Company
FB         Sarah  350.0
GOOG         Sam  200.0
MSFT     Vanessa  340.0

In [12]:
by_comp.count()

         Person  Sales
Company
FB            2      2
GOOG          2      2
MSFT          2      2

In [13]:
by_comp.describe()

        Sales
        count   mean         std    min     25%    50%     75%    max
Company
FB        2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOG      2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT      2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0

In [14]:
by_comp.describe().transpose()

Company              FB        GOOG        MSFT
Sales count    2.000000    2.000000    2.000000
      mean   296.500000  160.000000  232.000000
      std     75.660426   56.568542  152.735065
      min    243.000000  120.000000  124.000000
      25%    269.750000  140.000000  178.000000
      50%    296.500000  160.000000  232.000000
      75%    323.250000  180.000000  286.000000
      max    350.000000  200.000000  340.000000

In [15]:
by_comp.describe().transpose()['GOOG']

Sales  count      2.000000
       mean     160.000000
       std       56.568542
       min      120.000000
       25%      140.000000
       50%      160.000000
       75%      180.000000
       max      200.000000
Name: GOOG, dtype: float64

# Great Job!