___

<a href='http://www.pieriandata.com'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Copyright Pierian Data</em></center>
<center><em>For more information, visit us at <a href='http://www.pieriandata.com'>www.pieriandata.com</a></em></center>

# Operations

There are lots of operations with pandas that will be really useful to you, but don't fall into any distinct category. Let's show them here in this lecture:

In [1]:
import pandas as pd
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

### Info on Unique Values

In [2]:
df['col2'].unique()

array([444, 555, 666])

In [3]:
df['col2'].nunique()

3

In [4]:
df['col2'].value_counts()

col2
444    2
555    1
666    1
Name: count, dtype: int64

### Selecting Data

In [5]:
#Select from DataFrame using criteria from multiple columns
newdf = df[(df['col1']>2) & (df['col2']==444)]

In [6]:
newdf

   col1  col2 col3
3     4   444  xyz

### Applying Functions

In [7]:
def times2(x):
    return x*2

In [8]:
df['col1'].apply(times2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [9]:
df['new'] = df['col1'].apply(times2)

In [10]:
df

   col1  col2 col3  new
0     1   444  abc    2
1     2   555  def    4
2     3   666  ghi    6
3     4   444  xyz    8

In [11]:
df['col3'].apply(len)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

In [12]:
df['col1'].sum()

10

### Permanently Removing a Column

In [13]:
del df['col1']
df.drop('new', axis=1, inplace=True)

In [14]:
df

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

### Get column and index names:

In [15]:
df.columns

Index(['col2', 'col3'], dtype='object')

In [16]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col2    4 non-null      int64
 1   col3    4 non-null      object
dtypes: int64(1), object(1)
memory usage: 192.0+ bytes

In [18]:
df.describe()

             col2
count    4.000000
mean   527.250000
std    106.274409
min    444.000000
25%    444.000000
50%    499.500000
75%    582.750000
max    666.000000

### Sorting and Ordering a DataFrame:

In [19]:
df

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

In [20]:
df.sort_values(by='col2') #inplace=False by default

   col2 col3
0   444  abc
3   444  xyz
1   555  def
2   666  ghi

# Great Job!