___

<a href='http://www.pieriandata.com'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Copyright Pierian Data</em></center>
<center><em>For more information, visit us at <a href='http://www.pieriandata.com'>www.pieriandata.com</a></em></center>

# Pandas Exercises
Time to test your new pandas skills! Use the <tt>population_by_county.csv</tt> file in the Data folder to complete the tasks in bold below!

<div class="alert alert-info" style="margin: 10px"><strong>NOTE:</strong> ALL TASKS CAN BE DONE IN ONE LINE OF PANDAS CODE. GET STUCK? NO PROBLEM! CHECK OUT THE SOLUTIONS LECTURE!</div>

<div class="alert alert-danger" style="margin: 10px"><strong>IMPORTANT NOTE!</strong> Make sure you don't run the cells directly above the example output shown, <br>otherwise you will end up writing over the example output!</div>

#### 1. Import pandas and read in the <tt>population_by_county.csv</tt> file into a dataframe called <tt>pop</tt>.

In [35]:
import numpy as np
import pandas as pd

In [36]:
pop = pd.read_csv('../Data/population_by_county.csv')

#### 2. Show the head of the dataframe

In [37]:
# CODE HERE
pop.head()

             County           State  2010Census  2017PopEstimate
0  Abbeville County  South Carolina       25417            24722
1     Acadia Parish       Louisiana       61773            62590
2   Accomack County        Virginia       33164            32545
3        Ada County           Idaho      392365           456849
4      Adair County            Iowa        7682             7054

In [5]:
# DON'T WRITE HERE

#### 3. What are the column names?

In [38]:
pop.columns

Index(['County', 'State', '2010Census', '2017PopEstimate'], dtype='object')

In [7]:
# DON'T WRITE HERE

<strong>4. How many States are represented in this data set?</strong> <em>Note: the data includes the District of Columbia</em>

In [39]:
pop.nunique()['State']

51

In [5]:
# DON'T WRITE HERE

51

#### 5. Get a list or array of all the states in the data set.

In [40]:
pop['State'].unique()

array(['South Carolina', 'Louisiana', 'Virginia', 'Idaho', 'Iowa',
       'Kentucky', 'Missouri', 'Oklahoma', 'Colorado', 'Illinois',
       'Indiana', 'Mississippi', 'Nebraska', 'North Dakota', 'Ohio',
       'Pennsylvania', 'Washington', 'Wisconsin', 'Vermont', 'Minnesota',
       'Florida', 'North Carolina', 'California', 'New York', 'Wyoming',
       'Michigan', 'Alaska', 'Maryland', 'Kansas', 'Tennessee', 'Texas',
       'Maine', 'Arizona', 'Georgia', 'Arkansas', 'New Jersey',
       'South Dakota', 'Alabama', 'Oregon', 'West Virginia',
       'Massachusetts', 'Utah', 'Montana', 'New Hampshire', 'New Mexico',
       'Rhode Island', 'Nevada', 'District of Columbia', 'Connecticut',
       'Hawaii', 'Delaware'], dtype=object)

In [6]:
# DON'T WRITE HERE

array(['South Carolina', 'Louisiana', 'Virginia', 'Idaho', 'Iowa',
       'Kentucky', 'Missouri', 'Oklahoma', 'Colorado', 'Illinois',
       'Indiana', 'Mississippi', 'Nebraska', 'North Dakota', 'Ohio',
       'Pennsylvania', 'Washington', 'Wisconsin', 'Vermont', 'Minnesota',
       'Florida', 'North Carolina', 'California', 'New York', 'Wyoming',
       'Michigan', 'Alaska', 'Maryland', 'Kansas', 'Tennessee', 'Texas',
       'Maine', 'Arizona', 'Georgia', 'Arkansas', 'New Jersey',
       'South Dakota', 'Alabama', 'Oregon', 'West Virginia',
       'Massachusetts', 'Utah', 'Montana', 'New Hampshire', 'New Mexico',
       'Rhode Island', 'Nevada', 'District of Columbia', 'Connecticut',
       'Hawaii', 'Delaware'], dtype=object)

#### 6. What are the five most common County names in the U.S.?

In [41]:
pop['County'].value_counts().head()

County
Washington County    30
Jefferson County     25
Franklin County      24
Lincoln County       23
Jackson County       23
Name: count, dtype: int64

In [7]:
# DON'T WRITE HERE

Washington County    30
Jefferson County     25
Franklin County      24
Jackson County       23
Lincoln County       23
Name: County, dtype: int64

#### 7. What are the top 5 most populated Counties according to the 2010 Census?

In [42]:
pop.sort_values('2010Census', ascending=False).head()

                  County       State  2010Census  2017PopEstimate
1713  Los Angeles County  California     9818605         10163507
628          Cook County    Illinois     5194675          5211263
1209       Harris County       Texas     4092459          4652980
1784     Maricopa County     Arizona     3817117          4307033
2501    San Diego County  California     3095313          3337685

In [8]:
# DON'T WRITE HERE

                  County       State  2010Census  2017PopEstimate
1713  Los Angeles County  California     9818605         10163507
628          Cook County    Illinois     5194675          5211263
1209       Harris County       Texas     4092459          4652980
1784     Maricopa County     Arizona     3817117          4307033
2501    San Diego County  California     3095313          3337685

#### 8. What are the top 5 most populated States according to the 2010 Census?

In [43]:
pop.groupby('State').sum().head()

,County,2010Census,2017PopEstimate
State,,,
Alabama,Autauga CountyBaldwin CountyBarbour CountyBibb...,4779736,4874747
Alaska,Aleutians East BoroughAleutians West Census Ar...,710231,739795
Arizona,Apache CountyCochise CountyCoconino CountyGila...,6392017,7016270
Arkansas,Arkansas CountyAshley CountyBaxter CountyBento...,2915918,3004279
California,Alameda CountyAlpine CountyAmador CountyButte ...,37253956,39536653

In [44]:
pop.groupby('State').sum().sort_values('2010Census', ascending=False).head()

,County,2010Census,2017PopEstimate
State,,,
California,Alameda CountyAlpine CountyAmador CountyButte ...,37253956,39536653
Texas,Anderson CountyAndrews CountyAngelina CountyAr...,25145561,28304596
New York,Albany CountyAllegany CountyBronx CountyBroome...,19378102,19849399
Florida,Alachua CountyBaker CountyBay CountyBradford C...,18801310,20984400
Illinois,Adams CountyAlexander CountyBond CountyBoone C...,12830632,12802023

In [45]:
pop.groupby('State').sum().sort_values('2010Census', ascending=False).head().drop('County', axis=1)

            2010Census  2017PopEstimate
State
California    37253956         39536653
Texas         25145561         28304596
New York      19378102         19849399
Florida       18801310         20984400
Illinois      12830632         12802023

In [9]:
# DON'T WRITE HERE

            2010Census  2017PopEstimate
State
California    37253956         39536653
Texas         25145561         28304596
New York      19378102         19849399
Florida       18801310         20984400
Illinois      12830632         12802023

#### 9. How many Counties have 2010 populations greater than 1 million?

In [46]:
pop.groupby('County').sum()

,State,2010Census,2017PopEstimate
County,,,
Abbeville County,South Carolina,25417,24722
Acadia Parish,Louisiana,61773,62590
Accomack County,Virginia,33164,32545
Ada County,Idaho,392365,456849
Adair County,IowaKentuckyMissouriOklahoma,74628,73825
...,...,...,...
Yukon-Koyukuk Census Area,Alaska,5588,5365
Yuma County,ArizonaColorado,205794,217609
Zapata County,Texas,14018,14322
Zavala County,Texas,11677,11948
Ziebach County,South Dakota,2801,2756

In [47]:
pop.groupby('County').sum()['2010Census'] > 1000000

County
Abbeville County             False
Acadia Parish                False
Accomack County              False
Ada County                   False
Adair County                 False
                             ...
Yukon-Koyukuk Census Area    False
Yuma County                  False
Zapata County                False
Zavala County                False
Ziebach County               False
Name: 2010Census, Length: 1877, dtype: bool

In [48]:
sum(pop['2010Census'] > 1000000)

39

In [10]:
# DON'T WRITE HERE

39

#### 10. How many Counties don't have the word "County" in their name?

In [52]:
pop['County']

0       Abbeville County
1          Acadia Parish
2        Accomack County
3             Ada County
4           Adair County
              ...
3137         Yuma County
3138         Yuma County
3139       Zapata County
3140       Zavala County
3141      Ziebach County
Name: County, Length: 3142, dtype: object

In [58]:
pop['County'].apply(lambda name: 'County' not in name).value_counts()

County
False    3007
True      135
Name: count, dtype: int64

In [66]:
sum(pop['County'].apply(lambda name: 'County' not in name))

135

In [11]:
# DON'T WRITE HERE

135

#### 11. Add a column that calculates the percent change between the 2010 Census and the 2017 Population Estimate

In [92]:
# CODE HERE
pop['% Changed'] = (pop['2017PopEstimate'] - pop['2010Census']) / pop['2010Census'] * 100
# USE THIS TO SHOW THE RESULT
pop.head()

             County           State  2010Census  2017PopEstimate  % Changed
0  Abbeville County  South Carolina       25417            24722  -2.734390
1     Acadia Parish       Louisiana       61773            62590   1.322584
2   Accomack County        Virginia       33164            32545  -1.866482
3        Ada County           Idaho      392365           456849  16.434697
4      Adair County            Iowa        7682             7054  -8.174954

In [12]:
|# DON'T WRITE HERE

,County,State,2010Census,2017PopEstimate,PercentChange
0,Abbeville County,South Carolina,25417,24722,-2.734390
1,Acadia Parish,Louisiana,61773,62590,1.322584
2,Accomack County,Virginia,33164,32545,-1.866482
3,Ada County,Idaho,392365,456849,16.434697
4,Adair County,Iowa,7682,7054,-8.174954

<strong>Bonus: What States have the highest estimated percent change between the 2010 Census and the 2017 Population Estimate?</strong><br>This will take several lines of code, as it requires a recalculation of PercentChange.

In [93]:
# CODE HERE
pop2 = pd.DataFrame(pop.groupby('State').sum())

In [94]:
pop2

,County,2010Census,2017PopEstimate,% Changed
State,,,,
Alabama,Autauga CountyBaldwin CountyBarbour CountyBibb...,4779736,4874747,-90.104665
Alaska,Aleutians East BoroughAleutians West Census Ar...,710231,739795,79.918865
Arizona,Apache CountyCochise CountyCoconino CountyGila...,6392017,7016270,61.091253
Arkansas,Arkansas CountyAshley CountyBaxter CountyBento...,2915918,3004279,-157.120655
California,Alameda CountyAlpine CountyAmador CountyButte ...,37253956,39536653,171.318587
Colorado,Adams CountyAlamosa CountyArapahoe CountyArchu...,5029196,5607154,276.003951
Connecticut,Fairfield CountyHartford CountyLitchfield Coun...,3574097,3588184,-6.306999
Delaware,Kent CountyNew Castle CountySussex County,897934,961939,27.192859
District of Columbia,District of Columbia,601723,693972,15.330808
Florida,Alachua CountyBaker CountyBay CountyBradford C...,18801310,20984400,511.173992
Georgia,Appling CountyAtkinson CountyBacon CountyBaker...,9687653,10429379,253.477434
Hawaii,Hawaii CountyHonolulu CountyKalawao CountyKaua...,1360301,1427538,24.697324
Idaho,Ada CountyAdams CountyBannock CountyBear Lake ...,1567582,1716943,131.246387
Illinois,Adams CountyAlexander CountyBond CountyBoone C...,12830632,12802023,-342.549294
Indiana,Adams CountyAllen CountyBartholomew CountyBent...,6483802,6666818,9.627461
Iowa,Adair CountyAdams CountyAllamakee CountyAppano...,3046355,3145711,-123.916843
Kansas,Allen CountyAnderson CountyAtchison CountyBarb...,2853118,2913123,-314.245877
Kentucky,Adair CountyAllen CountyAnderson CountyBallard...,4339367,4454189,-16.991862
Louisiana,Acadia ParishAllen ParishAscension ParishAssum...,4533372,4684333,5.617474
Maine,Androscoggin CountyAroostook CountyCumberland ...,1328361,1335907,-11.986641
Maryland,Allegany CountyAnne Arundel CountyBaltimore ci...,5773552,6052177,61.820362
Massachusetts,Barnstable CountyBerkshire CountyBristol Count...,6547629,6859819,50.253589
Michigan,Alcona CountyAlger CountyAllegan CountyAlpena ...,9883640,9962311,-88.318582
Minnesota,Aitkin CountyAnoka CountyBecker CountyBeltrami...,5303925,5576606,23.984215
Mississippi,Adams CountyAlcorn CountyAmite CountyAttala Co...,2967297,2984100,-202.448241
Missouri,Adair CountyAndrew CountyAtchison CountyAudrai...,5988927,6113532,-95.700507
Montana,Beaverhead CountyBig Horn CountyBlaine CountyB...,989415,1050493,121.568195
Nebraska,Adams CountyAntelope CountyArthur CountyBanner...,1826341,1920076,-138.659568
Nevada,Carson CityChurchill CountyClark CountyDouglas...,2700551,2998039,24.691529
New Hampshire,Belknap CountyCarroll CountyCheshire CountyCoo...,1316470,1342795,7.003199
New Jersey,Atlantic CountyBergen CountyBurlington CountyC...,8791894,9005644,17.006799
New Mexico,Bernalillo CountyCatron CountyChaves CountyCib...,2059179,2088070,-78.433347
New York,Albany CountyAllegany CountyBronx CountyBroome...,19378102,19849399,-78.778361
North Carolina,Alamance CountyAlexander CountyAlleghany Count...,9535483,10273419,221.903768
North Dakota,Adams CountyBarnes CountyBenson CountyBillings...,672591,755393,308.640607
Ohio,Adams CountyAllen CountyAshland CountyAshtabul...,11536504,11658609,-54.867098
Oklahoma,Adair CountyAlfalfa CountyAtoka CountyBeaver C...,3751351,3930864,3.860638
Oregon,Baker CountyBenton CountyClackamas CountyClats...,3831074,4142776,151.366592
Pennsylvania,Adams CountyAllegheny CountyArmstrong CountyBe...,12702379,12805537,-95.758663
Rhode Island,Bristol CountyKent CountyNewport CountyProvide...,1052567,1059639,-1.630958
South Carolina,Abbeville CountyAiken CountyAllendale CountyAn...,4625364,5024369,105.281744
South Dakota,Aurora CountyBeadle CountyBennett CountyBon Ho...,814180,869666,107.905241
Tennessee,Anderson CountyBedford CountyBenton CountyBled...,6346105,6715984,246.721205
Texas,Anderson CountyAndrews CountyAngelina CountyAr...,25145561,28304596,955.535377
Utah,Beaver CountyBox Elder CountyCache CountyCarbo...,2763885,3101833,216.823276
Vermont,Addison CountyBennington CountyCaledonia Count...,625741,623657,-12.529791
Virginia,Accomack CountyAlbemarle CountyAlexandria city...,8001024,8470020,216.452138
Washington,Adams CountyAsotin CountyBenton CountyChelan C...,6724540,7405743,243.405927
West Virginia,Barbour CountyBerkeley CountyBoone CountyBraxt...,1852994,1815857,-176.749259
Wisconsin,Adams CountyAshland CountyBarron CountyBayfiel...,5686986,5795483,8.253743
Wyoming,Albany CountyBig Horn CountyCampbell CountyCar...,563626,579315,20.144261

In [95]:
pop2['% Changed'] = 100*(pop2['2017PopEstimate']-pop2['2010Census'])/pop2['2010Census']
pop2.sort_values('% Changed', ascending=False).head()

,County,2010Census,2017PopEstimate,% Changed
State,,,,
District of Columbia,District of Columbia,601723,693972,15.330808
Texas,Anderson CountyAndrews CountyAngelina CountyAr...,25145561,28304596,12.562993
North Dakota,Adams CountyBarnes CountyBenson CountyBillings...,672591,755393,12.310899
Utah,Beaver CountyBox Elder CountyCache CountyCarbo...,2763885,3101833,12.227282
Florida,Alachua CountyBaker CountyBay CountyBradford C...,18801310,20984400,11.611372

In [13]:
# DON'T WRITE HERE

                      2010Census  2017PopEstimate  PercentChange
State
District of Columbia      601723           693972      15.330808
Texas                   25145561         28304596      12.562993
North Dakota              672591           755393      12.310899
Utah                     2763885          3101833      12.227282
Florida                 18801310         20984400      11.611372

# GREAT JOB!