___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        print(a)
    else:
        print(b)

In [ ]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [10]:
def animal_crackers(text):
    words = text.split()
    if words[0][0] == words[1][0]:
        return True
    else:
        return False
    return print(words)

In [11]:
# Check
animal_crackers('Levelheaded Llama')

True

In [12]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [13]:
def makes_twenty(n1,n2):
    if n1 == 20 or n2 == 20:
        return True
    elif n1 + n2 == 20:
        return True
    else:
        return False

In [25]:
def makes_twenty(n1,n2):
    return n1 == 20 or n2 == 20 or n1+n2 == 20

In [26]:
# Check
makes_twenty(20,10)

True

In [27]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [30]:
def old_macdonald(name):
    first = name[0]
    inbetween = name[1:3]
    fourth = name[3]
    rest = name[4:]
    
    return first.upper() + inbetween + fourth.upper() + rest

In [32]:
def old_macdonald(name):
    first = name[0:3]
    second = name[3:]
    
    return first.capitalize() + second.capitalize()

In [33]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [36]:
def master_yoda(text):
    words = text.split()
    rever_words = words[::-1]
    return ' '.join(rever_words)

In [37]:
# Check
master_yoda('I am home')

'home am I'

In [38]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [41]:
def almost_there(n):
    if 90 <= n <= 110:
        return True
    elif 190 <= n <= 210:
        return True
    
    return False

In [45]:
def almost_there(n):
    if 90 <= n <= 110 or 190 <= n <= 210:
        return True    
    return False

In [49]:
def almost_there(n):
    if abs(100-n) <= 10 or abs(200-n) <= 10:
        return True    
    return False

In [53]:
def almost_there(n):
    return (abs(100-n) <= 10 or abs(200-n) <= 10)

In [54]:
# Check
almost_there(104)

True

In [55]:
# Check
almost_there(150)

False

In [56]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [57]:
def has_33(nums):
    for x in range(0, len(nums)-1):
        if nums[x] == 3 and nums[x+1] == 3:
            return True
    return False

In [61]:
def has_33(nums):
    for x in range(0, len(nums)-1):
        if nums[x:x+2] == [3,3]:
            return True
    return False

In [62]:
# Check
has_33([1, 3, 3])

True

In [63]:
# Check
has_33([1, 3, 1, 3])

False

In [64]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [74]:
def paper_doll(text):
    word = []
    for x in text:
        word.append(x*3)
    return ''.join(word)

In [77]:
def paper_doll(text):
    result = ''
    for x in text:
        result += x*3
    return result

In [78]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [79]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [85]:
def blackjack(a,b,c):
    if a+b+c <= 21:
        return a+b+c
    elif a == 11:
        if 1+b+c <= 21:
            return 1+b+c
        else:
            return 'BUST'
    elif b == 11:
        if a+1+c <= 21:
            return a+1+c
        else:
            return 'BUST'
    elif c == 11:
        if a+b+1 <= 21:
            return a+b+1
        else:
            return 'BUST'
    else:
        return 'BUST'

In [95]:
def blackjack(a,b,c):
    
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c]) <= 31:
        return sum([a,b,c])-10
    # elif 11 in [a,b,c] and sum([a,b,c]) - 10 <= 21:
    #     return sum([a,b,c])-10
    else:
        return 'BUST'

In [96]:
# Check
blackjack(5,6,7)

18

In [97]:
# Check
blackjack(9,9,9)

'BUST'

In [98]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [104]:
def summer_69(arr):
    num = 0
    add = True
    
    for x in arr:
        while add:
            if x != 6:
                num += x
                break
            else:
                add = False
        while not add:
            if x != 9:
                break
            else:
                add = True
                break
    return num

In [105]:
# Check
summer_69([1, 3, 5])

9

In [106]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [107]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [1]:
def spy_game(nums):
    spy = [0,0,7,'x']
    for x in nums:
        if x == spy[0]:
            spy.pop(0)
    return len(spy) == 1

In [2]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [3]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [4]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [19]:
def count_primes(num):
    primes = [2]
    x = 3
    
    if num < 2:
        return 0
    
    while x <= num:
        for y in range(3,x,2):
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)        
    return len(primes)

In [20]:
# Check
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [43]:
def print_big(letter):
    patterns = {1:'  *  ', 2:' * * ', 3:'*   *', 4:'*****', 5:'****  ', 6:'*    ', 7:'  ***', 8:' *   ', 9:'*    '}
    letters = {'A':[1,2,4,3,3], 'B':[5,3,5,3,5], 'C':[7,8,9,8,7], 'D':[5,3,3,3,5], 'E':[4,9,4,9,4], 'F':[4,9,4,9,9]}
    for pattern in letters[letter.upper()]:
        print(patterns[pattern])

In [44]:
print_big('a')
print('===============')
print_big('b')
print('===============')
print_big('c')
print('===============')
print_big('d')
print('===============')
print_big('e')
print('===============')
print_big('f')

  *
 * *
*****
*   *
*   *
===============
****
*   *
****
*   *
****
===============
  ***
 *
*
 *
  ***
===============
****
*   *
*   *
*   *
****
===============
*****
*
*****
*
*****
===============
*****
*
*****
*
*

## Great Job!